/* Global */
#app {
}
h4{
	 margin-left: 15px;
}

/* Home Page */

.nav-links {
	padding: 5px;
	margin-top: -5px;
}

#sign-in-div {
	width: 35%;
}

/* homepage */
.homepage-sign-in-confirm {
	color:#183096;
	font-size: 19px;
	display: inline-block;
	float: right;
	margin-right: 25px;
	border-radius: 5px;
	background-color: #13d826;
	padding: 3px;
	letter-spacing: 2px;
}

/* navbar */
.bg-faded {
	background-color: #e61010;
}

nav i.material-icons {
	font-size: 5vw;
	margin-top: -3px;
}


nav .brand-logo {
	font-size: 5vw;
	padding-left: 15px;
	padding-top: 5px;
	margin-top: -3px;
	text-decoration: none;
}

nav .brand-logo i.material-icons {
	float: left;
	margin-right: 5px;
}

.nav-links {
	padding: 5px;
	margin-right: 10px;
	font-size: 15px;
}
body{
	background-color: #f7f1f1;
}

h8{
	color: #9e0909;
}





/* SUBMIT Button */
.btn-danger {
	background-color: #177100;
}

.btn-danger:hover {
	background-color: #91cd5b;
}

/*****/

.slider {
	margin-top: -19px;
}

.slides {
	height: 100px;
}

.main-tag-h3-slideOne {
	font-family: "Work Sans";
	font-weight: lighter;
	color: #074fde;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	font-size: 50px;
	margin-top: 95px;
	letter-spacing: 5px;
	background-color:rgba(0,255,0,0.5)
}

.main-tag-h5-slideTwo {
	font-family: "Work Sans";
	font-weight: solid;
	color: #030008f3;
    display: inline-block; 
	padding: 5px;
	border-radius: 5px;
	font-size: 50px;
	margin-top: 95px;
	letter-spacing: 5px;
	background-color:rgba(34, 192, 192, 0.750)
}
.second-tag-slideTwo {
	font-family: "Work Sans";
	font-weight: lighter;
	color: #074fde;
	/* display: inline-block; */
	padding: 5px;
	border-radius: 5px;
	font-size: 50px;
	margin-top: 95px;
	letter-spacing: 5px;
}

.donateForm {
	width: 500px;
	margin: auto;
}
.image-container{
	text-align:center
}

.container.custom-container {
	padding: 0 50px;
  }















.materialboxed {
	width: 100%;
	height: auto;
}
